/* PART #1 */

body {
  margin: 0;
}

header {
  background: url('./imgs/img_1.jpg');
  height: 100vh;
  display: grid;
  align-content: end;
  background-size: cover;
}

header > div > h1 {
  margin: 0;
  font-size: 100px;
  color: #fff;
  font-family: 'Kalam', sans-serif;
  position: relative;
  z-index: 1;
}

header > div > p {
  color: #fff;
  opacity: .5;
  max-width: 600px;
  font-family: 'Calibri', sans-serif;
}

header > div {
  width: 1700px;
  margin: 0 auto;
  padding-bottom: 200px;
}

header > div > h1::before {
  content: '';
  background: #1C3FFD;
  position: absolute;
  width: 562px;
  height: 100px;
  z-index: -1;
  margin-left: -15px;
  margin-top: 40px;
}

/* PART #2 */

section {
  height: 100vh;
  background: #FFFFF9;
}

section img {
  height: 600px;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

section h1 {
  font-family: 'Kalam', sans-serif;
  font-size: 60px;
  margin: 0;
  padding-top: 50px;
}

section p {
  font-family: "Calibri", sans-serif;
  color: #8b8b8b;
  max-width: 600px;
  margin: 0;
}

section a {
  font-family: "Calibri", sans-serif;
  color: #1C3FFD;
  display: block;
  padding-top: 50px;
  font-weight: bold;
  text-decoration: none;
}

section div {
  width: 1700px;
  margin: 0 auto;
}

/* PART #3 */

body > div > div {
  height: 500px;
  text-align: center;
  display: grid;
  align-content: center;
  width: 1700px;
  margin: 0 auto;
}

body > div > div h1 {
  font-size: 60px;
  font-family: 'Kalam', sans-serif;
  margin: 0;
}

body > div > div p {
  font-family: "Calibri", sans-serif;
  color: #8b8b8b;
  max-width: 820px;
  margin: 0 auto;
}

body > div {
  background: #FFFFF9;
}

/* PART #4 */

footer {
  background: #000;
  height: 271px;
  text-align: center;
  display: grid;
  align-content: center;
}

footer p {
  color: #8B8B8B;
  font-family: 'Calibri', sans-serif;
  margin: 0;
  padding-bottom: 20px;
}

footer a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Calibri', sans-serif;
}